header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    width: 97%;
}

.main {
    display: flex; 
    justify-content: space-between; 
    margin-top: 5%; 
}

.bookList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 20px auto;
    text-align: center;
    margin-top: 5%;
    width: 60%;
}

.grid-header {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}

.book-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.book-btn {
    margin-right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.book-btn.update {
    background-color: #28a745;
}

.book-btn.delete {
    background-color: #dc3545;
}

.book-btn:hover {
    opacity: 0.8;
}

.readBook {
    margin-top: 5%;
    width: 35%;
}

.book-title {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

.book-Container {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 250px;
}

.price-rate {
    display: block; 
    margin-top: 15%;
    text-align: left;
    margin-right: 20%;
    padding: 10px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 2%;
}

.rate {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.rate button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
}

.rate button:hover {
    background-color: #45a049;
}

.rate-number {
    width: 30px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hidden {
    display: none;
}
.buttonClose {
    margin-top: 20px; /* רווח עליון */
    float: right;
    margin-right: 10%;
}

.buttonClose button{
    background-color: #ff4c4c; /* צבע רקע */
    color: white; /* צבע טקסט */
    border: none; /* מסגרת */
    border-radius: 5px; /* פינות מעוגלות */
    padding: 10px 15px; /* ריפוד פנימי */
    font-size: 16px; /* גודל גופן */
    cursor: pointer; /* משנה את הצבע כשמעבירים מעל */
    transition: background-color 0.3s; /* אפקט מעבר */
}
.buttonClose button:hover {
    background-color: #ff1a1a; /* צבע רקע חדש כאשר העכבר מעל */
}
/* ---------------- */
/* Modal container */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #333;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Close button */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #fff;
    color: #333;
    padding: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #ccc;
}

.cancelbtn {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    float: right;
}
